.arrow {
	width: 50px;
	height: 50px;
	background-color: var(--colorRed);
	bottom: 3%;
	right: 3%;
	padding: 17px;
	cursor: pointer;

	img {
		transform: rotate(180deg);
		transition: transform 500ms ease;
	}

	&:hover img {
		transform: rotate(180deg) translateY(20%);
	}
}

.header {
	color: var(--colorWhite);
	position: absolute;
}

.navbar-brand {
	border: solid var(--colorWhite);
	border-left: 0;
	color: inherit;
	transition: border 500ms;
	font-size: 2.25rem;

	&:hover {
		color: var(--colorWhite);
		border: solid var(--colorRed);
		border-left: 0;
	}

	&:hover .navbar-letter {
		background-color: var(--colorRed);
		color: var(--colorWhite);
	}
}

.navbar-letter {
	background-color: var(--colorWhite);
	color: var(--colorRed);
	width: 55px;
	height: 55px;
	transition: background-color 500ms, color 500ms;
}

.navbar-toggler {
	width: 50px;
	height: 50px;
	padding: 7px;
	background-color: var(--colorWhite);
	outline: 0;

	&:focus {
		box-shadow: none;
	}
}

.burger {
	fill: var(--colorRed);
}

.nav-item {
	cursor: pointer;
	position: relative;

	&:before {
		content: '';
		width: 100%;
		position: absolute;
		background: var(--colorRed);
		left: 0;
		bottom: 0;
		height: 2px;
		opacity: 0;
		transition: transform 500ms, opacity 500ms;
	}

	&:hover:before {
		transform: translateY(10px);
		opacity: 1;
	}

	&:hover .nav-link {
		color: var(--colorRed);
	}
}

.nav-link {
	color: var(--colorWhite);
	font-size: 0.875rem;
}

.background-intro {
	clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 0 90%);
	background-color: rgb(187, 134, 55);
	height: 96vh;
}

#dark {
	filter: brightness(0.3);
}

// intro

.intro {
	height: 100vh;
	color: var(--colorWhite);
}

.headline {
	font-size: 4.5rem;
}

.btn-transparrent {
	background: transparent;
	border: 1px solid;

	&:hover {
		background: rgba($color: #ffffff, $alpha: 0.2);
		border: 1px solid;
	}
}

.carousel-control-intro {
	display: block;
	background-color: var(--colorRed);
	padding: 25px;
}

.circle-intro {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);
}

//adventages

.card-advantages {
	padding-top: 24px;
	border: 0;

	&:hover .card-img {
		transform: rotate(45deg);
		border: 1px solid var(--colorRed);
	}

	&:hover .svg-advantages {
		transform: translate(-50%, -50%) rotate(-45deg);
	}

	&:hover .card-title {
		color: var(--colorRed);
	}
}

.card-img-advantages {
	border: 1px solid var(--colorGreyLight);
	width: 20%;
	margin: 0 auto;
	position: relative;
	transition: transform 500ms, border 500ms;

	&:before {
		content: '';
		display: block;
		padding-top: 100%;
	}

	.svg-advantages {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 60%;
		stroke: var(--colorRed);
		stroke-width: 1.4;
		fill: none;
		transform: translate(-50%, -50%);
		transition: transform 500ms;
	}
}

.card-title-advantages {
	font-weight: 700;
	text-align: center;
	position: relative;
	margin-bottom: 24px;
	transition: color 500ms;

	&:before {
		content: '';
		width: 50px;
		position: absolute;
		left: 50%;
		bottom: -10px;
		height: 1px;
		background: var(--colorGreyLight);
		transform: translateX(-50%);
	}
}

.card-text {
	font-family: var(--fontSmall);
	font-size: 0.75rem;
	color: var(--colorGreyLight);
}

// about

.about {
	margin: 145px 0;
}

.title-about {
	font-size: 2rem;
	font-weight: 700;
	padding-left: 17px;
	position: relative;

	&:before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		width: 6px;
		background-color: var(--colorRed);
	}
}

.about-description {
	font-size: 0.875rem;
	line-height: 29px;
	color: var(--colorGreyLight);
}

// services

.services {
	background-color: var(--colorBlack);
	padding: 150px 0;
}

.title-services {
	font-size: 2rem;
	font-weight: 700;
	padding-right: 17px;
	position: relative;
	color: var(--colorWhite);
	margin-bottom: 70px;

	&::after {
		content: '';
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		width: 6px;
		background-color: var(--colorRed);
	}
}

.services-background {
	left: auto;
	width: 45%;
}

.list-item-services {
	position: relative;

	&:not(:last-child) {
		margin-bottom: 70px;
	}
}

.list-title-services {
	color: var(--colorRed);
	font-size: 1.125rem;
}

.list-title-description {
	color: var(--colorGreyLight);
	font-size: 0.875rem;
}

.circle-services {
	position: absolute;
	right: -23%;
	top: 50%;
	justify-content: center;
	align-items: center;
	z-index: 1;
	transform: translateY(-50%);
}

.svg-services {
	fill: none;
	stroke: var(--colorRed);
	stroke-width: 1;
}

// works

.works {
	padding-top: 150px;
}

.list-item-works {
	color: var(--colorGreyLight);
	font-size: 0.875rem;
	cursor: pointer;

	&:hover {
		color: var(--colorRed);
	}
}

.work-item {
	background-color: var(--colorRed);

	img {
		transition: opacity 500ms;
		height: 100%;
	}

	&:hover img {
		opacity: 0.2;
	}

	&:hover .work-data {
		display: block;
	}
}

.work-data {
	padding: 50px;
	color: var(--colorWhite);
	left: 0;
	right: 0;
	bottom: 0;
	display: none;

	&:before {
		content: '';
		position: absolute;
		width: 40px;
		height: 4px;
		top: 30px;
		left: 50px;
		background-color: var(--colorWhite);
	}
}

// case
.case {
	padding: 150px 0;
	background-color: var(--colorWhite);
}

.dot-case {
	margin-bottom: 115px;
}

.carousel-case {
	background-color: #ffffff;
	height: 630px;
	width: 665px;
}

.carousel-img-case {
	background-color: var(--colorRed);
	width: 127px;
	height: 127px;
	padding: 20px;
	transform: rotate(45deg) translate(-50px, -50px);

	.svg-case {
		fill: none;
		stroke: #ffffff;
		stroke-width: 0.5;
		transform: rotate(-45deg);
	}
}

.carousel-caption-case {}

h5 {
	color: black;
}

.background-case {
	bottom: 0;
	right: 0;
	width: 660px;
	height: 722px;
	transform: translateY(7%);
	flex-wrap: nowrap;
	overflow: hidden;
}

.background-case-img {
	width: 660px;
	height: 100%;
	animation-name: case-img-anim;
	animation-duration: 2000ms;
	animation-fill-mode: forwards;
	position: absolute;
}

@keyframes case-img-anim {
	from {
		left: 100%;
	}

	to {
		left: 0;
	}
}

.carousel-indicators {

	.carousel-indicator {
		background-color: var(--colorWhite);
		width: 12px;
		height: 12px;
	}

	.active {
		background-color: var(--colorRed);
	}

}

.stat {
	background-image: url('../../img/stat-background.png');
	background-size: cover;
	// height: 500px;
	padding: 150px 0;
}

.stat-img {
	width: 115px;
	height: 115px;
	padding: 40px;
	border: 1px solid #ffffff;
}

.svg-stat {
	fill: none;
	stroke: #ffffff;
}

.stat-data {
	color: var(--colorWhite);
}

.pricing {
	padding: 150px 0;
}

.pricing-item {
	// padding: 0 20px;
	background-color: var(--colorWhite);
	padding-bottom: 50px;

	&:hover .pricing-top {
		background-color: var(--colorRed);
	}

	&:hover .circle-pricing {
		color: var(--colorRed);
	}

	&:hover .btn-pricing {
		background-color: var(--colorRed);
	}
}

.pricing-top {
	background-color: var(--colorGreyLight);
	color: #ffffff;
	padding-top: 50px;
	padding-bottom: 135px;
}

.circle-pricing {
	width: 178px;
	height: 178px;
	top: 0;
	left: 50%;
	transform: translate(-50%, -50%);
	color: var(--colorGreyLight);

	.circle-inner {
		background-color: #ffffff;
	}
}

.pricing-data {
	width: 300px;
	padding-top: 125px;
}

.text-pricing {
	color: var(--colorGreyLight);
}

.btn-pricing {
	background-color: var(--colorGreyLight);
}

// Team
// tttttttttttt   eeeeeeeee			aaa			mmm	   mmm
//     ttt		  eee			   aaaaa		mmmm  mmmm
//     ttt		  eeeeeeeee		  aaa  aaa		mmmmmmmmmm
//     ttt		  eee			 aaaaaaaaaa		mmm  m mmm
//     ttt		  eeeeeeeee		aaa		 aaa	mmm	   mmm

.team {
	background-image: url('../../img/team-img.png');
	background-size: cover;
	padding-top: 150px;
	// padding-bottom: 15vw;
}

.team-wave {
	height: 33.5vw;
}

.wave-back-use {
	fill: var(--colorRed);
	fill-opacity: 0.2;
}

.wave-up {
	bottom: 2px;
}

.wave-up-use {
	fill: none;
	stroke: var(--colorRed);
	stroke-width: 0.5;
}

.wave-up-dinamic {
	width: 144.5vw;
	height: 100%;
	bottom: 4px;
	transform: translateX(-30.1%);
}

.wave-up-dinamic-use {
	fill: none;
	stroke: var(--colorRed);
	stroke-width: 2;
	stroke-dasharray: 730;
	stroke-dashoffset: 730;
	stroke-linecap: round;
	transition: stroke-dashoffset 2000ms;
}

.persons {
	height: 20vw;

	.person {
		position: absolute;
	}

	.person:nth-child(1) {
		top: 22%;
		left: 20%;
	}

	.person:nth-child(2) {
		top: 8%;
		left: 35%;
	}

	.person:nth-child(3) {
		top: 10%;
		left: 50%;
	}

	.person:nth-child(4) {
		top: 26%;
		left: 65%;
	}

	.person:nth-child(5) {
		top: 29%;
		left: 80%;
	}
}

.person {
	transform: translateX(-50%);

	&:hover .person-img {
		transform: scale(2);
		box-shadow: 0px 0px 8px 6px rgba(0, 0, 0, 0.5);
		margin-bottom: 40px;
	}

	&:hover .person-img img {
		opacity: 0.7;
	}
}

.person-img {
	width: 60px;
	height: 60px;
	padding: 2px;
	background-color: var(--colorRed);
	border-radius: 50%;
	transition: transform 500ms ease, margin-bottom 500ms ease;
	cursor: pointer;

	img {
		transition: opacity 500ms ease;
	}
}

.person-data {
	opacity: 0;
	transform: translateY(-100%);
	transition: opacity 500ms, transform 500ms;
}

.title-person {
	color: var(--colorRed);
}

// integration
// iiiiiiiiiii	tttttttttttt eeeeeeeee 
//     iii		    ttt 	 eee
// 	   iii		    ttt 	 eeeeeeeee
//	   iii		    ttt 	 eee
// iiiiiiiiiii	    ttt 	 eeeeeeeee

.integration {
	padding: 150px 0;
	background-color: var(--colorWhite);
}

.integration-item {
	background-color: #ffffff;
	transition: background-color 500ms;
	height: 115px;
	cursor: pointer;

	&:hover {
		background-color: var(--colorRed);
		box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
	}

	&:hover img {
		opacity: 1;
	}

	img {
		opacity: 0.1;
		transition: opacity 500ms;
		height: 100%;
	}

}

.blog {
	padding-top: 150px;
}

.blog-img {
	object-fit: cover;
	height: 100%;
}

.blog-data {
	background-color: var(--colorRed);
	color: #ffffff;
}

.blog-data-right {
	&:before {
		content: '';
		position: absolute;
		border: 30px solid transparent;
		border-right: 20px solid var(--colorRed);
		left: 0;
		top: 50%;
		transform: translate(-100%, -50%);
	}
}

.blog-data-left {
	&:before {
		content: '';
		position: absolute;
		border: 30px solid transparent;
		border-left: 20px solid var(--colorRed);
		right: 0;
		top: 50%;
		transform: translate(100%, -50%);
	}
}

.text-blog {
	color: #ffffff;
}

.title-blog {
	position: relative;

	&:after {
		content: '';
		width: 10%;
		height: 3px;
		position: absolute;
		background-color: #ffffff;
		bottom: -20px;
		left: 0;
	}
}

.blog-descrition {
	line-height: 30px;
}

.blog-link {
	align-self: flex-start;
	display: flex;

	&:hover .blog-arrow {
		transform: translateX(50%);
	}
}

.blog-arrow {
	width: 17px;
	display: flex;
	align-items: center;
	transition: transform 200ms ease;

	img {
		transform: rotate(-90deg);
	}
}

.contacts {
	padding: 150px 0;
	background-color: var(--colorWhite);
}

.contacts-items {
	padding: 100px 90px;
	background-color: #ffffff;
	box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
}

.title-contacts {
	color: var(--colorRed);
}

.contacts-data {
	font-size: 1.125rem;
	color: var(--colorGreyLight);
}

.form-item {
	border: 0;
	border-bottom: 1px solid var(--colorGreyLight);
	border-radius: 0;
	outline: 0;
	color: var(--colorGrey);
	padding-bottom: 20px;
}

.free {
	padding: 150px 0;
}

.background-free {
	top: 0;
	left: 0;
	top: 0;
	bottom: 0;
	opacity: 0.6;
}

// footer

.footer {
	background-color: var(--colorBlack);
	padding: 35px;
}

.icon {
	cursor: pointer;
	padding: 10px;
	width: 40px;
	height: 40px;

	&:hover .svg {
		fill: var(--colorRed);
	}
}

.svg-footer {
	fill: var(--colorGreyLight);
}

.text-footer {
	color: var(--colorGrey);
}

@media (max-width: 1150px) {

	.team-wave {
		display: none;
	}

	.persons {
		height: auto;
		margin-top: -70px;
		padding: 0 5% 5%;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;

		.person {
			position: static;
			transform: translate(0);
			display: flex;
			flex-direction: column;
			justify-content: center;
			margin: 0 15px;
		}

		&:hover .person-img {
			transform: scale(1);
			box-shadow: none;
			margin-bottom: 0;

			img {
				opacity: 1;
			}
		}
	}

	.person-data {
		opacity: 1;
		transform: translate(0);
	}
}

@media (max-width: 991px) {
	.header {
		background-color: rgba($color: #e74c3c, $alpha: 0.8);
		position: fixed;
	}

	.navbar-nav {
		padding: 20px 0;
		height: 91vh;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.nav-item {
		border-radius: 5px;
		transition: background-color 500ms;
		flex-grow: 1;
		display: flex;
		align-items: center;
		justify-content: center;

		&:before {
			display: none;
		}

		&:hover .nav-link {
			color: #ffffff;
		}

		&:active {
			background-color: #ffffff;
		}

		&:active .nav-link {
			color: var(--colorRed);
		}
	}

	.case {
		padding-bottom: 0;
	}

	.carousel-case {
		width: 100%;
	}

	.contacts-items {
		box-shadow: none;
		padding: 25px;
	}

	.free {
		padding: 100px 0;
	}
}

@media (max-width: 575px) {
	.blog-data {
		border-bottom: solid var(--colorWhite);
	}

	.blog-data-right {
		&:before {
			display: none;
		}
	}

	.blog-data-left {
		&:before {
			display: none;
		}
	}
}