@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

:root {
	--fontSmall: 'Source Sans Pro',
		sans-serif;
	--fontRegular: 'Open Sans',
		sans-serif;

	--colorGrey: #4a4c55;
	--colorGreyLight: #999999;
	--colorWhite: #f4f5f9;
	--colorRed: #e74c3c;
	--colorWhiteDark: #cbc6c0;
	--colorBlack: #202020;
}